body{
    background-color: coral;
}
h2{
    text-align: center;
    font-size: 18px;
    word-spacing: 25px;
    text-size-adjust: inherit;
    text-spacing-trim: 10px;
    text-transform: capitalize;
}
h3{
    background-color: brown;
    /*border*/
    border: top 5px;px rgba(43, 1, 1, 1) solid;
    border-left:5px blue solid;
    border-bottom:5px green solid;
    border-right:5px greenyellow solid;
}